*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;}

.gm-style .gm-style-iw-c {
  background-color: rgba(255, 255, 255, 0.9);
}

.gm-style .gm-style-iw-tc::after {
  background: rgba(255, 255, 255, 0.9);
}

.gm-style-iw-d::-webkit-scrollbar {
  display: none !important;
}

.gm-style .transit-container .transit-title,
.gm-style .transit-container div,
.poi-info-window div,
.poi-info-window a,
.gm-style .transit-div-line-name .renderable-component-bold {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(18,22,41);
}

.dialog .mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: rgba(255, 255, 255, 0.9) !important;
  border-radius: 16px;
}
