:host {
  background-color: rgb(145,183,202);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
}

.back-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: rgb(145,183,202);
  border: none;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9);
}

.menu-description-container {
  color: rgb(255, 255, 255);
  font-size: 16px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 1rem; 
}

.menu-description {
  margin: 0; 
  color: rgb(255, 255, 255);
}

.app-button {
  width: 15rem;
  height: 3rem;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.9);
  color: rgb(145,183,202);
  border-radius: 30px;
}

.info {
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: none;
  position: absolute;
  right: 1rem;
  top: 1.2rem;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9);
}