@import "colors";
:host {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $background-color;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  position: relative;
}

.camera-icon {
  color: $highlight-color;
  font-size: 25px;
}

.camera-button {
  background-color: $background-color;
  width: 3rem;
  height: 3rem;
  border-radius: 40px;
  border: $highlight-color;
  margin-bottom: 10px;
}

.back-button {
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  color: $highlight-color;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem 0 1rem;
}
