
:host {
    min-height: 100vh;
    background-color: rgb(145,183,202);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: bottom;
    position: relative;
    padding: 2rem;
    text-decoration: none;
}

.take-pic {
    border: none;
    font-size: 1.8rem;
    width: 3rem;
    padding-top: 2px;
    padding-left: 1px;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(243, 232, 233, 0.8);
    border-radius: 12px;
    position: absolute;
    top: 45%;
    left: 76%;
    margin-top: 16.8rem;
}

.clear-bookmark{
    border: none;
    padding-top: 3px;
    font-size: 1.75rem;
    color: rgba(243, 232, 233, 0.8);
    width: 3rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 12px;

    position: absolute;
    top: 45%;
    left: 26.5%;
    margin-top: 16.8rem;
}

.list-button {
    border: none;
    padding-top: 3px;
    font-size: 1.9rem;
    color: rgba(243, 232, 233, 0.8);
    width: 3rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 12px;

    position: absolute;
    top: 45%;
    left: 43%;
    margin-top: 16.8rem;
}

.bookmark-button {
    padding-top: 5px;
    border: none;
    font-size: 1.7rem;
    color: rgba(243, 232, 233, 0.8);
    width: 3rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 12px;

    position: absolute;
    top: 45%;
    left: 59.5%;
    margin-top: 16.8rem;
}

.back-button {
    border: none;
    font-size: 1.8rem;
    padding-top: 3px;
    color: rgba(243, 232, 233, 0.8);
    width: 3rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 12px;


    position: absolute;
    top: 45%;
    left: 10%;
    margin-top: 16.8rem;
}

.see-bookmarks {
    width: 10rem;
    height: 2.5rem;
    background-color: rgba(182, 162, 154, 0.9);
    border: 1px solid rgba(182, 162, 154, 1.0);
    border-radius: 30px;
    margin-top: 10rem;
    color: #FFFFFF;

    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.poi-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 560px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.webcam-container {
    height: 500px;
}

.info-overlay {
    position: absolute;
    top: 2rem;
    left: 7px;
    width: 96.7%;
    height: 535px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    z-index: 5;
}

a {
    color: inherit;
}