$button-color: rgb(187, 172, 166);
$secondary-color: #fffffe;
$main-color: rgba(255, 255, 255, 0.9);
$highlight-color: rgba(243, 232, 233, 0.8);
$stroke-color: #121629;
$tertiary-color: #f9f7f7;
$start-button-color: rgba(182, 162, 154, 0.9);
$border-start-button-color: rgba(182, 162, 154, 1.0);
$background-color: rgb(145,183,202);
$menu-ar: rgba(0, 0, 0, 0.1);