@import '_colors';

:host {
  background-image: url("../../../assets/images/eiffel.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.title-container {
  font-size: 15.5px;
  color: $secondary-color;
  margin-top: 2rem;
  margin-bottom: 26rem;
  align-self: center;
  backdrop-filter: blur(1px); /* You can adjust the pixel value to increase or decrease the amount of blur */

}

.top-container {
  display: flex;
  flex-direction: column;
}

.description {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.app-button {
  width: 12rem;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: bold 2px;
  border: 0px solid transparent;
  color: black;
  border-radius: 30px;
  font-size: 16px;
  margin-bottom: 1rem;
  margin-left: auto; 
  margin-right: auto;
}

.custom-start-button {
  font-size: 16px;
  margin-left: auto; 
  margin-right: auto;
  color: $secondary-color;
}


.custom-start-button {
  font-size: 12px;
  background: none;
  border: none;
  height: 2rem;
}

.language-buttons {
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  color: $secondary-color;
  gap: 0.4rem;
}

.language-buttons > button {
  color: $secondary-color;
  background-color: $highlight-color;
  border: 0px solid transparent;
  border-radius: 60%;
  object-fit: cover;
  width: 2rem;
  height: 1.8rem;
  background-size: cover;
  background-position: center;
}

#fr {
  background-image: url("../../../assets/images/french.png");
}

#ro {
  background-image: url("../../../assets/images/romanian.png");
}

#en {
  background-image: url('../../../assets/images/english.png');
}

#es {
  background-image: url('../../../assets/images/spanish.png');
}
