@import '_colors';

:host {
  background-image: url("../../../assets/images/eiffel.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.title-container {
  font-size: 15.5px;
  color: $secondary-color;
  align-self: center;
}

.top-container {
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

.description {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.app-button {
  width: 11.5rem;
  height: 2.5rem;
  background-color: $start-button-color;
  border: 1px solid $border-start-button-color;
  border-radius: 30px;
  font-size: 16px;
  color: $secondary-color;
  margin-top: 14rem;
  margin-left: auto; /* Added to center the button */
  margin-right: auto; /* Added to center the button */
}

.custom-start-button {
  font-size: 16px;
  margin-top: 14rem;
  margin-left: auto; /* Added to center the button */
  margin-right: auto; /* Added to center the button */
  color: $secondary-color;
}


.custom-start-button {
  font-size: 12px;
  background: none;
  border: none;
  height: 2rem;
}

.language-buttons {
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  color: $secondary-color;
  gap: 0.4rem;
}

.language-buttons > button {
  color: $secondary-color;
  background-color: $highlight-color;
  border: 1px solid $secondary-color;
  object-fit: cover;
  width: 1.6rem;
  height: 1.2rem;
  background-size: cover;
  background-position: center;
}

#fr {
  background-image: url("../../../assets/images/fr.png");
}

#ro {
  background-image: url("../../../assets/images/ro.png");
}

#en {
  background-image: url('../../../assets/images/en.png');
}

#es {
  background-image: url('../../../assets/images/es.png');
}
